* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.header-items {
    display:inline-block; 
}
